* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container-vismis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900vh;
  height: clamp(300px, 90%, 900px);
  width: 900px;
  width: clamp(300px, 90%, 900px);
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255 0.1);
  box-shadow: 0 8px 40px rgba(35, 35, 35, 0.1);
  color: #000;
  border-radius: 20px;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900vh;
  height: clamp(300px, 90%, 900px);
  transform: scale(1);
  width: clamp(300px, 90%, 900px);
}
.img {
  width: 700px;
  height: 700px;
  size: contain;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.phil {
  border: 1px solid #000;
  background-color: #1e00ff;
  display: flex;
  position: relative;
  width: 890px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 5vh;
}
.phil h1 {
  color: #fff;
  font-size: 2rem;
}
.fai {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.mis {
  border: 1px solid #000;
  background-color: #ffff00;
  display: flex;
  position: relative;
  width: 890px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 5vh;
}
.mis h1 {
  color: #000;
  font-size: 2rem;
}
.tobe {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.vis {
  border: 1px solid #000;
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 890px;
  height: 5vh;
}
.vis h1 {
  color: #fff;
  font-size: 2rem;
}
.prov {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.goal {
  border: 1px solid #000;
  background-color: #009f6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 890px;
  height: 5vh;
}
.goal h1 {
  color: #fff;
  font-size: 2rem;
}
.towi {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.obj {
  border: 1px solid #000;
  background-color: #030376;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 890px;
  height: 5vh;
}
.obj h1 {
  color: #fff;
  font-size: 2rem;
}
.l1 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.l2 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.l3 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
}
.l4 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 890px;
  height: 100%;
}
